body {
    margin: 0;
    background-color: #2a363b;
}
#topbar {
    background-color: #000000;
    color: #6665d2;
    width: 100%;
}
#topbar_guild__name {
    padding: 10px;
    font-size: 1.75em;
}
#main_menu {
    width: 100%;
}
.autopost {
    padding: 5px;
}
.autopost_memes,
.autopost_nsfw {
    background-color: transparent;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #6665d2;
}
.autopost_memes h3,
.autopost_nsfw h3 {
    font-size: 1.5em;
    color: white;
}
#memes_channel,
#nsfw_channel {
    width: 100%;
    background-color: #7289da;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 1.25em;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 0px solid red;
}
#no_webhook {
    margin: auto;
    width: 95%;
    border-radius: 5px;
    background-color: #e89574;
    color: white;
    font-size: 1em;
}
#no_webhook p {
    padding: 10px;
}
.bottom {
    width: 100%;
    margin: auto;
}
.bottom button {
    max-width: 40%;
    margin-right: 10px;
    border: 0 solid red;
    color: white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.15em;
    border-radius: 7px;
    font-weight: 600;
}
#savebtn {
    background-color: #57f287;
}
#homebtn {
    background-color: #ed4245;
}
@media only screen and (min-width: 800px) {
    .autopost_memes, .autopost_nsfw {
        max-width: 50%;
    }
}